NEXT_PUBLIC_SITE_URL=http://localhost:3000
EVENTBRITE_API_TOKEN=
EVENTBRITE_ORG_ID=
RESEND_API_KEY=
RESEND_FROM_EMAIL=Business & Brews <hello@businessandbrewssc.com>
RESEND_TO_EMAIL=team@businessandbrewssc.com
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
